## Import Libraries

In [21]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.window import Window

## start spark session

In [4]:
spark = SparkSession.builder.appName('questions').getOrCreate()

### Create DataFrame

In [15]:
all_players_df = spark.read.format('csv').option('header',True).option('inferSchema',True).load('./csv/IPL_PLAYERS.csv')
unsold_payers_df = spark.read.format('csv').option('header',True).option('inferSchema',True).load('./csv/UNSOLD_PLAYERS.csv')
top_buys_df = spark.read.format('csv').option('header',True).option('inferSchema',True).load('./csv/TOP_BUYS.csv')
all_players_df.show(5)
unsold_payers_df.show(5)
top_buys_df.show(5)

+--------------------+-----------+-------------+----------+----+
|             PLAYERS|NATIONALITY|         TYPE|PRICE PAID|TEAM|
+--------------------+-----------+-------------+----------+----+
|Avanish Rao Aravelly|     Indian|Wicket-Keeper|   2000000| CSK|
|   Mustafizur Rahman|   Overseas|       Bowler|  20000000| CSK|
|      Daryl Mitchell|   Overseas|  All-Rounder| 140000000| CSK|
|        Sameer Rizvi|     Indian|       Batter|  84000000| CSK|
|     Rachin Ravindra|   Overseas|  All-Rounder|  18000000| CSK|
+--------------------+-----------+-------------+----------+----+
only showing top 5 rows

+---------------+-----------+-----------+----------+
|         PLAYER|NATIONALITY|       TYPE|BASE PRICE|
+---------------+-----------+-----------+----------+
|  Priyansh Arya|     Indian|     Batter|   2000000|
|Rohan Kunnummal|     Indian|     Batter|   2000000|
|    Manan Vohra|     Indian|     Batter|   2000000|
| Raj Angad Bawa|     Indian|All-Rounder|   2000000|
|  Sarfaraz Khan|     Indian|All-Rounder|   2000000|
+---------------+-----------+-----------+----------+
only showing top 5 rows

+--------------------+--------------+-----------+-------------+
|                TEAM|   NATIONALITY|       TYPE|   PRICE PAID|
+--------------------+--------------+-----------+-------------+
|Kolkata Knight Ri...|Mitchell Starc|     Bowler| 24,75,00,000|
| Sunrisers Hyderabad|   Pat Cummins|All-Rounder| 20,50,00,000|
| Chennai Super Kings|Daryl Mitchell|All-Rounder| 14,00,00,000|
|        Punjab Kings| Harshal Patel|All-Rounder| 11,75,00,000|
|Royal Challengers...|Alzarri Joseph|     Bowler| 11,50,00,000|
+--------------------+--------------+-----------+-------------+
only showing top 5 rows

#### Q1. Create a dataset from this having origin and destination only

In [33]:
flight_df = spark.read.format('csv').option('header',True).option('inferSchema',True).load('./csv/flight_data.csv')

# Method 1
# flight_df.show()
flight_df_1 = flight_df.withColumn('row_num',row_number().over(Window.partitionBy(col('cust_id')).orderBy(col('cust_id'))))
# flight_df.show()
flight_df_1 = flight_df_1.groupBy(col('cust_id')).agg(first(col('origin')).alias('Source'),last(col('destination')).alias('Destination'))
flight_df_1.show()

# Method 2

+-------+---------+-----------+
|cust_id|   Source|Destination|
+-------+---------+-----------+
|      1|    Delhi|  Mangalore|
|      2|   Mumbai|  Gorakhpur|
|      3|  Chennai|        Goa|
|      4|  Kolkata|  Ahmedabad|
|      5|Hyderabad|Bhubaneswar|
|      6|Bengaluru|     Jaipur|
|      7|  Lucknow|    Kolkata|
|      8|   Indore|     Bhopal|
+-------+---------+-----------+