# AWS Glue Studio Notebook
##### You are now running a AWS Glue Studio notebook; To start using your notebook you need to start an AWS Glue Interactive Session.

#### Optional: Run this cell to see available notebook commands ("magics").

In [ ]:
%help

####  Run this cell to set up and start your interactive session.

In [3]:
%idle_timeout 2880
%glue_version 4.0
%worker_type G.1X
%number_of_workers 5

import sys
from awsglue.transforms import *
from awsglue.utils import getResolvedOptions
from pyspark.context import SparkContext
from awsglue.context import GlueContext
from awsglue.job import Job
from pyspark.sql.types import *
from pyspark.sql.functions import *
  
sc = SparkContext.getOrCreate()
glueContext = GlueContext(sc)
spark = glueContext.spark_session
job = Job(glueContext)

You are already connected to a glueetl session 71851e7c-364d-46c8-953e-6b3c2c762fc7.

No change will be made to the current session that is set as glueetl. The session configuration change will apply to newly created sessions.

Current idle_timeout is None minutes.
idle_timeout has been set to 2880 minutes.

You are already connected to a glueetl session 71851e7c-364d-46c8-953e-6b3c2c762fc7.

No change will be made to the current session that is set as glueetl. The session configuration change will apply to newly created sessions.

Setting Glue version to: 4.0

You are already connected to a glueetl session 71851e7c-364d-46c8-953e-6b3c2c762fc7.

No change will be made to the current session that is set as glueetl. The session configuration change will apply to newly created sessions.

Previous worker type: G.1X
Setting new worker type to: G.1X

You are already connected to a glueetl session 71851e7c-364d-46c8-953e-6b3c2c762fc7.

No change will be made to the current session that is set as glueetl. The session configuration change will apply to newly created sessions.

Previous number of workers: 5
Setting new number of workers to: 5

#### Example: Create a DynamicFrame from a table in the AWS Glue Data Catalog and display its schema

In [4]:
dyf = glueContext.create_dynamic_frame.from_catalog(database='pyspark-tutorial-db', table_name='customers')

#### Example: Convert the DynamicFrame to a Spark DataFrame and display a sample of the data

In [5]:

df = dyf.toDF()
df = df.withColumnRenamed('col0', 'Customer_Id') \
       .withColumnRenamed('col1', 'First_Name') \
       .withColumnRenamed('col2', 'Last_Name') \
       .withColumnRenamed('col3', 'Full_Name')

/opt/amazon/spark/python/lib/pyspark.zip/pyspark/sql/dataframe.py:127: UserWarning: DataFrame constructor is internal. Do not directly use it.

In [7]:
df.printSchema()

root
 |-- Customer_Id: long (nullable = true)
 |-- First_Name: string (nullable = true)
 |-- Last_Name: string (nullable = true)
 |-- Full_Name: string (nullable = true)

In [8]:
df.count()

635

In [11]:
customer_df = df.select('Customer_Id','Full_Name')
customer_df.show()

+-----------+--------------------+
|Customer_Id|           Full_Name|
+-----------+--------------------+
|        293|      Catherine Abel|
|        295|     Kim Abercrombie|
|        297|    Humberto Acevedo|
|        291|      Gustavo Achong|
|        299|      Pilar Ackerman|
|        305|         Carla Adams|
|        301|       Frances Adams|
|        307|           Jay Adams|
|        309|        Ronald Adina|
|        311|     Samuel Agcaoili|
|        313|       James Aguilar|
|        315|     Robert Ahlering|
|        319|           Kim Akers|
|        441|        Stanley Alan|
|        323|         Amy Alberts|
|        325|       Anna Albright|
|        327|       Milton Albury|
|        329|         Paul Alcorn|
|        331|    Gregory Alderson|
|        333|J. Phillip Alexander|
+-----------+--------------------+
only showing top 20 rows

In [15]:
glueContext.write_dynamic_frame.from_options(
frame = dyf,
    connection_type = 's3',
    connection_options = {"path":"s3://pyspark-tutorial3908/notebook/"},
    format='csv',
    format_options = {
    "separator":","
    },
    transformation_ctx='datasink2'
)

<awsglue.dynamicframe.DynamicFrame object at 0x7fb9f52e9e10>