In [12]:
!pip install ipython-sql
!pip install mysqlclient

Requirement already satisfied: ipython-sql in c:\users\infoobjects_\desktop\dataengineer\pyspark\venv\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\infoobjects_\desktop\dataengineer\pyspark\venv\lib\site-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: ipython in c:\users\infoobjects_\desktop\dataengineer\pyspark\venv\lib\site-packages (from ipython-sql) (8.18.1)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\infoobjects_\desktop\dataengineer\pyspark\venv\lib\site-packages (from ipython-sql) (2.0.25)
Requirement already satisfied: sqlparse in c:\users\infoobjects_\desktop\dataengineer\pyspark\venv\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\users\infoobjects_\desktop\dataengineer\pyspark\venv\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\infoobjects_\desktop\dataengineer\pyspark\venv\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\infoobjects_\desktop\dataengineer\pyspark\venv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\infoobjects_\desktop\dataengineer\pyspark\venv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: decorator in c:\users\infoobjects_\desktop\dataengineer\pyspark\venv\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\infoobjects_\desktop\dataengineer\pyspark\venv\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\infoobjects_\desktop\dataengineer\pyspark\venv\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\infoobjects_\desktop\dataengineer\pyspark\venv\lib\site-packages (from ipython->ipython-sql) (3.0.41)
Requirement already satisfied: pygments>=2.4.0 in c:\users\infoobjects_\desktop\dataengineer\pyspark\venv\lib\site-packages (from ipython->ipython-sql) (2.17.2)
Requirement already satisfied: stack-data in c:\users\infoobjects_\desktop\dataengineer\pyspark\venv\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5 in c:\users\infoobjects_\desktop\dataengineer\pyspark\venv\lib\site-packages (from ipython->ipython-sql) (5.14.0)
Requirement already satisfied: colorama in c:\users\infoobjects_\desktop\dataengineer\pyspark\venv\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\infoobjects_\desktop\dataengineer\pyspark\venv\lib\site-packages (from prettytable->ipython-sql) (0.2.12)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\infoobjects_\desktop\dataengineer\pyspark\venv\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in c:\users\infoobjects_\desktop\dataengineer\pyspark\venv\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\infoobjects_\desktop\dataengineer\pyspark\venv\lib\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\infoobjects_\desktop\dataengineer\pyspark\venv\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting mysqlclient
  Obtaining dependency information for mysqlclient from https://files.pythonhosted.org/packages/92/5d/a26d4d3a19d12df4a742e93364ae3ff6a5b75678add3c0ef769d32023a5e/mysqlclient-2.2.1-cp311-cp311-win_amd64.whl.metadata
  Downloading mysqlclient-2.2.1-cp311-cp311-win_amd64.whl.metadata (4.6 kB)
Downloading mysqlclient-2.2.1-cp311-cp311-win_amd64.whl (202 kB)
   ---------------------------------------- 0.0/202.8 kB ? eta -:--:--
   ---------------------------------------- 0.0/202.8 kB ? eta -:--:--
   ---------------------------------------- 0.0/202.8 kB ? eta -:--:--
   ---------------------------------------- 0.0/202.8 kB ? eta -:--:--
   ---------------------------------------- 0.0/202.8 kB ? eta -:--:--
   ---------------------------------------- 0.0/202.8 kB ? eta -:--:--
   ---------------------------------------- 0.0/202.8 kB ? eta -:--:--
   ---------------------------------------- 0.0/202.8 kB ? eta -:--:--
   ---------------------------------------- 0.0/202.8 kB ? eta -:--:--
   ---------------------------------------- 0.0/202.8 kB ? eta -:--:--
   ---------------------------------------- 0.0/202.8 kB ? eta -:--:--
   ------ --------------------------------- 30.7/202.8 kB ? eta -:--:--
   ------ --------------------------------- 30.7/202.8 kB ? eta -:--:--
   ------ --------------------------------- 30.7/202.8 kB ? eta -:--:--
   ------ --------------------------------- 30.7/202.8 kB ? eta -:--:--
   ----------- --------------------------- 61.4/202.8 kB 273.8 kB/s eta 0:00:01
   ----------- --------------------------- 61.4/202.8 kB 273.8 kB/s eta 0:00:01
   --------------- ----------------------- 81.9/202.8 kB 255.1 kB/s eta 0:00:01
   --------------- ----------------------- 81.9/202.8 kB 255.1 kB/s eta 0:00:01
   ----------------------- -------------- 122.9/202.8 kB 300.4 kB/s eta 0:00:01
   ----------------------- -------------- 122.9/202.8 kB 300.4 kB/s eta 0:00:01
   ----------------------- -------------- 122.9/202.8 kB 300.4 kB/s eta 0:00:01
   ----------------------- -------------- 122.9/202.8 kB 300.4 kB/s eta 0:00:01
   ----------------------- -------------- 122.9/202.8 kB 300.4 kB/s eta 0:00:01
   ----------------------- -------------- 122.9/202.8 kB 300.4 kB/s eta 0:00:01
   ----------------------- -------------- 122.9/202.8 kB 300.4 kB/s eta 0:00:01
   ----------------------- -------------- 122.9/202.8 kB 300.4 kB/s eta 0:00:01
   -------------------------------------- 202.8/202.8 kB 262.3 kB/s eta 0:00:00
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.2.1

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [21]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [18]:
%sql mysql://root:password@localhost:3306/sakila

In [37]:
%%sql
with temp as
(select *,row_number() over(partition by cust_id order by flight_id) as row1
,row_number() over(partition by cust_id order by flight_id desc) as row2 from flights)
,temp2 as (select cust_id,flight_id,origin from temp where row1 = 1)
,temp3 as (select cust_id,destination from temp where row2 = 1)
select temp2.cust_id,temp2.origin,temp3.destination from temp2
inner join temp3
on temp2.cust_id = temp3.cust_id;

 * mysql://root:***@localhost:3306/sakila
8 rows affected.

[(1, 'Delhi', 'Mangalore'),
 (2, 'Mumbai', 'Gorakhpur'),
 (3, 'Chennai', 'Goa'),
 (4, 'Kolkata', 'Ahmedabad'),
 (5, 'Hyderabad', 'Bhubaneswar'),
 (6, 'Bengaluru', 'Jaipur'),
 (7, 'Lucknow', 'Kolkata'),
 (8, 'Indore', 'Bhopal')]